/* HEADER */
.header {
    margin-bottom: 60px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    background: url(../assets/shared/logo.svg);
    background-size: 100%;
    width: 40px;
    height: 40px;
}

/* MEDIA QUERIES */
@media (min-width: 68.75em) {
    .header {
        margin-bottom: 83px;
    }
}